body {
  background-color: #f8f9fa;
}

/* Navbar */
.navbar {
  background-color: #343a40;
}

.nav-link {
  color: #f8f9fa;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #f8f9fa;
}

/* Aux */
.header-div {
  color: #343a40;
  text-align: left;
  margin: auto;
  padding-top: 20px;
  width: 90%;
}

.p-div {
  color: #343a40;
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
  margin: auto;
  width: 90%;
}

/* Página principal */
.btn {
  text-align: center;
  font-size: 24px;
  height: auto;
  width: 40%;
  display: grid;
  margin: auto;
  color: #f8f9fa;
  background-color: #990009;
  border-color: #800008; /*set the color you want here*/
  border-radius: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open > .dropdown-toggle.btn {
  color: #f8f9fa;
  background-color: #730007;
  border-color: #640007; /*set the color you want here*/
}

/* Colaboradores e Eventos */
#users-table {
  max-width: 100%;
  margin: 0 auto;
}

.table-header {
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.actions {
  text-align: right;
  width: 150px;
}

.actions i {
  font-size: 12px;
  margin-right: 5px;
}

.icon {
  color: #990009;
}

.cadastrar-colaborador-button {
  width: 300px;
  height: auto;
  margin-top: 15px;
}

.btn-atualizar {
  font-size: 18px;
  width: 100px;
}

.delete-form button {
  background-color: transparent;
  border: none;
  padding: 0;
}
