body {
  background-color: #fff;
}

/* Navbar */
.navbar {
  background-color: #f8f9fa;
}

.nav-link {
  color: #050e1b;
}

.navbar-brand img {
  height: 60px;
}

.header-div {
  text-align: left;
  margin: auto;
  padding: 10px;
  width: 90%;
}